# macOS
.DS_Store

# IDE
.idea
.vscode

# Cursor
.cursor
.cursorrules
.cursorignore
.cursorignorerules

# Python virtual environment
.venv

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.spec.pyd
.Python
*.log
debug_log.txt

# PyInstaller
*.spec
*.egg-info

# MyPy
.mypy_cache/

build/
references
src_old
