# macOS
.DS_Store

# IDE
.idea
.vscode

# Cursor
.cursor
.cursorrules
.cursorignore
.cursorignorerules

# Python virtual environment
.venv

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.spec.pyd
.Python

# PyInstaller
*.spec
*.egg-info

# MyPy
.mypy_cache/

build/
dist/
.run/
logs/
*.log

references
src_old
