# macOS
.DS_Store

# IDE
.idea
.vscode

# Cursor
.cursor
.cursorrules
.cursorignore
.cursorignorerules

# Python virtual environment
.venv

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
*.spec
*.egg-info

# MyPy
.mypy_cache/

# Distribution / packaging
build/
dist/
*.spec.pyd
.Python

references
src_old

debug_log.txt