# PyQt6 for GUI
PyQt6>=6.7.0

# Selenium for web automation
selenium>=4.15.2

# Requests for HTTP requests
requests>=2.31.0

# Chromedriver auto-installer
chromedriver-autoinstaller>=0.6.4
webdriver-manager>=4.0.1