# GUI
PyQt6>=6.9.0

# Web Automation
selenium>=4.32.0
chromedriver-autoinstaller>=0.6.4
webdriver-manager>=4.0.2

# HTTP Requests
requests>=2.32.3

# Lint
black>=25.1.0
mypy>=1.15.0
flake8>=7.2.0
flake8-docstrings>=1.7.0
flake8-pyproject>=1.2.3

# Build
PyInstaller>=6.13.0
